.gallery__photos {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	list-style: none;
	margin: 0 auto;
	max-width: 1184px;
	padding: 0;
	padding: 0 48px;
	width: 100%;
}

@media (max-width: 1279px) {
	.gallery__photos {
		gap: 14px;
		grid-template-columns: repeat(3, 1fr);
		max-width: 928px;
		padding: 0 24px;
	}
}

@media (max-width: 1023px) {
	.gallery__photos {
		gap: 16px;
		grid-template-columns: repeat(2, 1fr);
		max-width: 720px;
		padding: 0 16px;
	}
}

@media (max-width: 767px) {
	.gallery__photos {
		gap: 12px;
		grid-template-columns: repeat(1, 1fr);
		max-width: 288px;
	}
}