.gallery {
	width: 100%;
	box-sizing: border-box;
	padding: 0 48px;
	margin: 0;
}

@media (max-width: 767px) {
  .gallery__photos {
		padding: 0 24px;
  }
}
@media (max-width: 319px) {
  .gallery__photos {
		padding: 0 16px;
  }
}