.gallery {
	max-width: 1280px;
	width: 100%;
	box-sizing: border-box;
	display: grid;
	justify-items: center;
	padding: 0;
	margin: 0;
}

@media (max-width: 767px) {
  .gallery__photos {
		/* padding: 0 24px; */
  }
}
@media (max-width: 319px) {
  .gallery__photos {
		/* padding: 0 16px; */
  }
}