.places {
  margin: 0;
	/* padding: 0 148px; */
  display: grid;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
}
/* @media (max-width: 1023px) {
  .places {
		padding: 0 48px;
  }
}
@media (max-width: 767px) {
  .places {
		padding: 0 24px;
  }
}
@media (max-width: 319px) {
  .places {
		padding: 0;
  }
} */