.places {
	padding: 0 148px;
}
@media (max-width: 1023px) {
  .gallery__photos {
		padding: 0 48px;
  }
}
@media (max-width: 767px) {
  .gallery__photos {
		padding: 0 24px;
  }
}
@media (max-width: 319px) {
  .gallery__photos {
		padding: 0;
  }
}