.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 92px;
	background-color: #2A2C2F;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 0 92px;
	width: 100%;
}

@media screen and (max-width: 1023px) {
	.content {
		padding-bottom: 88px;
		row-gap: 88px;
	}
}

@media screen and (max-width: 767px) {
	.content {
		padding-bottom: 64px;
		row-gap: 64px;
	}
}