.places__list {
	align-items: center;
	display: flex;
	flex-direction: column;
	list-style: none;
	margin: 0;
	max-width: 984px;
	padding: 0;
	padding: 0;
	row-gap: 80px;
	width: 100%;
}

@media (max-width: 767px) {
	.places__list {
		row-gap: 72px;
	}
}

@media (max-width: 319px) {
	.places__list {
		row-gap: 50px;
	}
}