.places__place {
	padding: 0;
	margin: 0;
	max-width: 984px;
	width: 100%;
	display: grid;
	gap: 48px 40px;
	grid-template-columns: repeat(2, 1fr);
	padding: 0 148px;
	overflow: hidden;
}

@media screen and (max-width: 1279px) {
	.places__place {
		max-width: 928px;
		gap: 48px 32px;
		padding: 0 48px;
	}
}

@media screen and (max-width: 1023px) {
	.places__place {
		max-width: 720px;
		gap: 48px 28px;
		padding: 0 24px;
	}
}

@media screen and (max-width: 767px) {
	.places__place {
		grid-template-columns: repeat(1, 1fr);
		padding: 0;
		max-width: 320px;
		row-gap: 50px;
	}
}