.cover__overlay {
	align-items: center;
	background-image: url(../../../images/dog-trains.png);
	background-size: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 0;
	justify-content: center;
	object-fit: contain;
	padding-bottom: 62.5%;
	position: relative;
	row-gap: 32px;
	text-decoration: none;
	width: 1184px;
	z-index: 0;
}
@media screen and (max-width: 1279px) {
	.cover__overlay{
		width: 100vw;
	}
}