.cover__overlay {
	align-items: center;
	background-image: url(../../../images/dog-trains.png);
	background-size: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 0;
	justify-content: center;
	object-fit: contain;
	padding: 0 0 62.5% 0;
	position: relative;
	row-gap: 32px;
	margin: 0;
	text-decoration: none;
	width: 100%;
	z-index: 0;
}