.footer__content {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	max-width: 1184px;
	width: 100%;
	display: grid;
	justify-content: space-between;
	grid-template-columns: repeat(2, 50%);
	align-items: baseline;
}