.places__website {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	row-gap: 12px;
	justify-content: flex-end;
	align-items: flex-start;
}

@media screen and (max-width: 767px) {
	.places__website {
		padding: 0 16px;
	}
}